<h1>
  P2 DIGITAL HOLDINGS SDN BHD
</h1>
<p>A-G-05 CoPlace 1,<br>
 Jalan Usahawan 2, Cyber 6, <br>
 63000 Cyberjaya, Selangor, MALAYSIA<br>
 (+60)3 8688 5750</p>

 <form action="">
<p> 1. How many employees does your company have?</p>
   <input type="radio" name="employee" value="More than 500"> More than 500<br>
   <input type="radio" name="employee" value="Less than 500"> Less than 500<br><br>

<p> 2. How many devices does your company wish to purchase to manage your employees' attendance system?</p>
   <input matInput placeholder=""><br>

<p> 3. Please state your company's address:</p>
  <input matInput placeholder=""><br>

<p> 4. Do you have any Internet provider at your company?<br>
  (If YES, Please state)</p>
  <input matInput placeholder=""><br><br><br>

  <button>Save</button><br><br>
  <button>Email</button><br><br>
  <button>Go to the online payment</button>

 </form>
